<div class="progress">
  <div class="progression completed"></div>
  <div class="line"></div>
  <div class="progression"></div>
  <div class="line"></div>
  <div class="progression"></div>
  <div class="line"></div>
  <div class="progression"></div>
</div>
<div class="park-show-container" data-controller="toggle">
  <%= link_to image_tag("back_arrow.png", style: "margin-left: 16px;"), parks_path %>
  <div class="park-info">
    <div class="park-img">
      <%= image_tag @park.image, class: "park-img" %>
    </div>
    <div class="park-titles">
      <h1><%= @park.name %></h1>
      <p><span><svg class="location" version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill="#FB5607" d="M32,0C18.746,0,8,10.746,8,24c0,5.219,1.711,10.008,4.555,13.93c0.051,0.094,0.059,0.199,0.117,0.289l16,24 C29.414,63.332,30.664,64,32,64s2.586-0.668,3.328-1.781l16-24c0.059-0.09,0.066-0.195,0.117-0.289C54.289,34.008,56,29.219,56,24 C56,10.746,45.254,0,32,0z M32,32c-4.418,0-8-3.582-8-8s3.582-8,8-8s8,3.582,8,8S36.418,32,32,32z"></path> </g></svg></span><%= link_to @park.location, "https://www.google.com/maps?q=#{URI.encode_www_form_component(@park.location)}", target: "_blank", style: "text-decoration: none; color: gray;" %>
      </p>
    </div>
    <div class="park-buttons-container">
      <button style="border:none;" type="button" class="btn-primary" role="button" data-action="click->toggle#fire" data-toggle-target="startGameButton">
        Start game
      </button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= simple_form_for [@park, @game] do |form| %>
          <div class="form-group">
            <%= form.label :name, "Enter your game name" %>
            <%= form.text_field :name, class: "form-control", placeholder: "Game Name" %>
          </div>
          <%= form.submit "Create Game", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <%= link_to "View animals", park_park_animals_path(@park), style: "text-decoration: none; font-weight: 600; color: #FB5607; margin-top: -16px; margin-bottom: 24px;" %>
    <p><%= @park.description %></p>
    <div class="map-container"
      data-controller="map"
      data-map-marker-value="<%= @marker %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <%= link_to "Open map", "https://www.google.com/maps?q=#{URI.encode_www_form_component(@park.location)}", target: "_blank", class: "btn-primary", style: "margin-top: 24px;" %>
  </div>
</div>
