
<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to games_path do %>
      <i class="fa-solid fa-play"></i>
    <% end %>
    <% unless @game.nil? || @game.id.nil? %>
      <%= link_to game_animals_path(@game) do %>
        <i class="fa-solid fa-paw"></i>
      <% end %>
    <% end %>

  <% if user_signed_in? && current_user.photo.present? %>
    <%= link_to edit_user_registration_path do %>
      <%= cl_image_tag(current_user.photo.key, class: "avatar") %>
    <% end %>
  <% end %>
  </div>
</div>
