<div class="landing-page-container" data-controller="landing-page">
  <div class="landing-container">
    <img src="<%= asset_path('pango_logo.png') %>" alt="Logo" class="logo">
    <div class="landing-card card" data-landing-page-target="card">
      <% if @user.present? %>
        <h2>Hello <%= @user.name %>!</h2>
        <p>What would you like to do today?</p>
      <% else %>
        <h2>Hi there!</h2>
        <p>Please Login or Sign up</p>
      <% end %>
      <div class="button-container">
        <% if @user.present? %>
        <div class="button-container">
          <%= link_to "Start playing", new_game_path, class: "btn-primary" %>
          <%= link_to "Read the rules", rules_path, class: "btn-secondary" %>
        </div>
        <% else %>
        <div class="button-container">
          <%= link_to "Log In", new_user_session_path, class: "btn-primary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn-secondary" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
