<div class = "games_container1">
  <h6>Your Profile</h6>
  <%= button_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } %>
  <div class="profile-container">
    <div>
      <% if user_signed_in? && current_user.photo.present? %>
        <%= link_to edit_user_registration_path do %>
          <%= cl_image_tag(current_user.photo.key, class:"profile_img") %>
        <% end %>
      <% end %>
    </div>
    <div id="user_details1">
      <p class="profile-name"><%= current_user.name%></p>
      <p><%= current_user.email%></p>
      <!--game_count-->
      <p>Games: <%=  %></p>
    </div>
  </div>
  <div class="toggle-container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-my-games-tab" data-bs-toggle="pill" data-bs-target="#pills-my-games" type="button" role="tab" aria-controls="pills-my-games" aria-selected="true">My Games</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-pending-games-tab" data-bs-toggle="pill" data-bs-target="#pills-pending-games" type="button" role="tab" aria-controls="pills-pending-games" aria-selected="false">Invitations</button>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-my-games" role="tabpanel" aria-labelledby="pills-my-games-tab">
      <h2 class="card-titles">My Games</h2>
      <div class="games-list-container">
        <% @games.each do |game| %>
          <h4><%= game.name %></h4>
          <%= link_to "enter", game_path(game) %>
        <% end  %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-pending-games" role="tabpanel" aria-labelledby="pills-pending-games-tab">
      <h2 class="card-titles">Pending Games</h2>
      <% @pending_games.each do |game| %>
        <%= render 'games/partials/game-card', game: game %>
        <!--       <li>-->
        <%#= game.name %>
        <%#= game.status %>
        <%#= link_to "Accept",root_path, method: :post, class: "btn btn-success" %>
        <%#= link_to "Decline", root_path, method: :delete, class: "btn btn-danger" %>
        <!--        </li>-->
      <% end %>
    </div>
  </div>
  <%= link_to "Start new game", new_game_path, class: "btn-primary" %>
</div>
<%= render "partial/footer", game: @game %>
