<div class = container>
  <div class="header">
    <div class="header-infos">
      <p>Currently Playing</p>
      <h1><%= @game.name %></h1>
      <p>Points: 22</p>
    </div>
</div>
</div>

<div>
  <h2>Players</h2>
  <div>
  <% @game.game_players.each do |game_player| %>
    <p><%= game_player.points %></p>
    <p><%= game_player.user.email %></p>
    <% game_player.animals.each do |animal| %>
      <%= image_tag animal.image %>
      <p><%= animal.name %> <span><%= animal.points %></span> </p>
  <% end %>
<% end %>
  </div>
</div>

<%= link_to root_path, class: "btn btn-flat" do %>
  <strong>+</strong>
<% end %>

<%= render "footer" %>
