<div class = container>
    <div class="header">
      <div class="header-infos">
        <p>Currently Playing</p>
        <h1><%= @game.name %></h1>
        <p>Points: 22</p>
      </div>
  </div>


  <div>
    <h2>Players</h2>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Sightings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Friends</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

      <!-- Content for "My Sightings" tab -->
      <div class="dummy_text">
        <p>Animal's List</p>
        <p>Lion</p>
        <p>Zebra</p>
      </div>

    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

      <!-- Content from the provided code snippet -->
      <div>
        <% @game.game_players.each do |game_player| %>
          <p>user email: <%= game_player.user.email %></p>
          <p>Points: <%= game_player.points %></p>
          <h3>Animals spotted</h3>
          <% game_player.animals.each do |animal| %>
            <%= image_tag animal.image %>
            <p><%= animal.name %> <span><%= animal.points %></span> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


<%= render "footer" %>
</div>
<!---->
<%#= link_to "add sighting", game_park_park_animals_path(@game, @park) %>
<%#= link_to "end game", games_path %>
