
<div class="header">
      <div class="header-infos">
        <p>Currently Playing</p>
        <h1><%= @game.name %></h1>
      </div>
      <h2><%= @user.name %></h2>
      <h3><%= @game_player.points %></h3>
  </div>

  <div>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Sightings</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Leaderboard</button>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

      <div class="">
        <% @game.game_players.each do |game_player| %>
          <p><%#= game_player.points %></p>
          <p><%#= game_player.user.email %></p>
          <% game_player.animals.each do |animal| %>
          <div class="spotted-animal-card">
            <%= image_tag animal.image %>
            <div class="animal-info">
              <h2><%= animal.name %></h2>
              <p>points: <span><%= animal.points %></span></p>
              <div class="link">
                <%= link_to "View" %>
              </div>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

      <div>
        <% @game.game_players.each do |game_player| %>
          <p>user email: <%= game_player.user.email %></p>
          <p>Points: <%= game_player.points %></p>
          <h3>Animals spotted</h3>
          <% game_player.animals.each do |animal| %>
            <%= image_tag animal.image %>
            <p><%= animal.name %> <span><%= animal.points %></span> </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: "partial/footer"%>
</div>



<div class="sighting-btn">
  <%= link_to image_tag("add.png"), game_park_park_animals_path(@game, @park) %>
</div>
