<h1><%= @game.name %></h1>
<p>Status: <%= @game.status %></p>
<p>Park: <%= @game.park.name %></p>

<% @game.game_players.each do |game_player| %>
  <p><%= game_player.points %></p>
  <p><%= game_player.user.email %></p>
<% end %>
