<div class="header">
  <div class="header-infos">
    <p>Currently Playing</p>
    <h1><%= @game.name %></h1>
    <div class="header-location">
      <i class="fa-solid fa-location-dot"></i>
      <p> <%= @game.park.name %></p>
    </div>
  </div>

  <%# <a href="..." class="btn btn-warning">pause</a>
  <a href="..." class="btn btn-warning">Play</a> %>
</div>


<div>
  <h2>Players</h2>
  <div>
    <!--<%= image_tag('boy2.png', alt: 'little boy', class: 'player-avatar') %>-->
    <p>Friend Name:</p>
    <p>Points: 0</p>

  <% @game.game_players.each do |game_player| %>
    <p><%= game_player.points %></p>
    <p><%= game_player.user.email %></p>
    <% game_player.animals.each do |animal| %>
      <%= image_tag animal.image %>
      <p><%= animal.name %> <span><%= animal.points %></span> </p>
  <% end %>
<% end %>
  </div>
</div>



<%#= link_to "add sighting", park_park_animals_path(@park) %>


<%= render "footer" %>
