<% content_for :body_class, 'game-background' %>
<div class="header">
  <% if @game.status == 'ended' %>
    <div class="winner-container">
      <div class="info-img">
        <%= image_tag("3d-fluency-trophy.png",class: "trophy") %>
        <div class="winner-info">
          <h2>WINNER!</h2>
          <h1><%= @winner.user.name %></h1>
        </div>
      </div>
      <%= link_to "close game", games_path %>
    </div>
  <% end %>
  <div class="header-infos">
    <div class="user-game-info-container">
      <% if @game_player.avatar.present? %>
        <%= image_tag @game_player.avatar, class: "avatar-animal" %>
      <% end %>
    </div>
    <div class="info-titles">
      <h1><%= @user.name %></h1>
      <h2><%= @game.name %></h2>
      <div class="points-container">
        <h3> Total points: <span class="points"><%= @game_player.points %></span></h3>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="toggle-container">
    <ul class="nav-bb nav-pills-bb" id="pills-tab" role="tablist">
      <li class="nav-item-bb" role="presentation">
        <button class="nav-link-bb active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Sightings</button>
      </li>
      <li class="nav-item-bb" role="presentation">
        <button class="nav-link-bb" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Leaderboard</button>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="pills-tabContent" data-controller="buttons">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <% unless @game_player.points > 0 %>
        <div class="no-sightings">
          <h1>No Sightings Yet</h1>
          <p>Click + button to add animals</p>
        </div>
      <% end %>
      <div class="sightings-container">
        <% @game_player.animals.each do |animal| %>
          <div class="spotted-animal-card">
            <%= image_tag animal.image %>
            <div class="animal-info">
              <h2><%= animal.name %></h2>
              <p>points: <span><%= animal.points %></span></p>
              <div class="link">
                <%= link_to "View", animal_path(animal) if animal %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="leaderboard-card">
        <% this_game_player = @game_players.first %>
        <% @game_players.each do |game_player| %>
          <% unless game_player.status == "pending" || game_player.status == "declined" %>
            <% if game_player.user == current_user %>
              <div class="leaderboard-item you">
                <strong>
                  <p>YOU</p>
                </strong>
                <p>Points: <%= game_player.points %></p>
              </div>
            <% elsif this_game_player != game_player.user_id %>
              <div class="leaderboard-item">
                <strong>
                  <p><%= game_player.user.name %></p>
                </strong>
                <p>Points: <%= game_player.points %></p>
                <%= link_to "View Sightings", game_game_player_path(@game, game_player) %>
                <% this_game_player = game_player.user_id %>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @game.status == "started" %>
          <%= form_with url: game_path(@game), method: :patch do %>
            <%= submit_tag "End Game", class: "btn-end" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div data-buttons-target="footer">
      <%= render partial: "partial/footer"%>
    </div>
    <% if @game.status == "started" %>
      <div class="sighting-btn" data-buttons-target="hideable">
        <%= link_to image_tag("add.png"), game_park_park_animals_path(@game, @park) %>
      </div>
    <% end %>
  </div>
</div>
