<div class="progress">
  <div class="progression completed"></div>
  <div class="line completed-line"></div>
  <div class="progression completed"></div>
  <div class="line completed-line"></div>
  <div class="progression completed"></div>
  <div class="line"></div>
  <div class="progression"></div>
</div>
<div class="avatar-page-container">
  <h1>Pick Your Avatar For <%= @game.name %></h1>
  <%= form_for([@game, @game_player]) do |f| %>
    <div class="avatar-container">
      <% @images.each do |image| %>
        <div class="animal-avatar">
          <label>
            <%= f.radio_button :avatar, image[:url] %>
            <%= image_tag image[:url] %>
          </label>
        </div>
      <% end %>
    </div>
    <%= f.submit "Submit", class: "btn-primary", style: "border: none;" %>
  <% end %>
</div>
