<div class="invites" data-controller="toggle">
  <div class="progress">
    <div class="progression completed"></div>
    <div class="line completed-line"></div>
    <div class="progression completed"></div>
    <div class="line"></div>
    <div class="progression"></div>
    <div class="line"></div>
    <div class="progression"></div>
  </div>
  <h1>Invite Friends to your game:</h1>
  <div class="search-container">
    <div class="row justify-content-center">
      <div class="col-sm-3 m-3">
        <%= form_with url:  new_game_game_player_path, method: :get, class: "d-flex my-3" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "input-form m-1"
        %>
          <%= submit_tag "Search", name: "", class: "btn-primary", style: "border: none;" %>
        <% end %>
      </div>
    </div>
  </div>
  <% @users.each do |user| %>
    <% unless user.id == current_user.id %>
      <div class="flexbox">
        <div class="user-container">
          <% if user.photo.present? %>
            <%= cl_image_tag(user.photo.key, class: "avatar-user") %>
          <% elsif user.image.present? %>
            <%= image_tag user.image, class: "avatar-user" %>
          <% end %>
          <% if user.name.present? %>
            <p class="name"><%= user.name %></p>
          </div>
          <div data-toggle-target="invite" data-toggle-target="input" class="<%= "ticked" if @game.users.include?(user) %>">
            <% if @game.users.include?(user) %>
              <svg class="tick"viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z" fill="#32c356"></path> </g></svg>
            <% else %>
              <%= simple_form_for([ @game, @game_player ], data: { action: "submit->toggle#invited" }) do |f| %>
                <%= f.hidden_field :game_id, value: @game.id %>
                <%= f.hidden_field :user_id, value: user.id %>
                <%= f.hidden_field :points, value: 0 %>
                <%= f.hidden_field :status, value: "pending" %>
                <%= f.submit "+", class: "add_btn" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="sticky d-none" data-toggle-target="continue">
    <%= link_to "Continue", edit_game_game_player_path(@game, @current_user_game_player), class: "btn-primary" %>
  </div>
</div>
