<div class="invites">
  <h1>Invite Friends to your game:</h1>
    <% @users.each do |user| %>
      <% unless user.id == current_user.id %>
        <div class="flexbox">
          <% if user.photo.present? %>
            <%= cl_image_tag(user.photo.key, class: "avatar") %>
          <% end %>
          <% if user.name.present? %>
            <p class="name"><%= user.name %></p>
            <%= simple_form_for([ @game, @game_player ]) do |f| %>
              <%= f.hidden_field :game_id, value: @game.id %>
              <%= f.hidden_field :user_id, value: user.id %>
              <%= f.hidden_field :points, value: 0 %>
              <%= f.hidden_field :status, value: "pending" %>
              <%= f.submit "+", class: "add_btn" %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <%= simple_form_for([ @game, @game_player ]) do |f| %>
      <%= f.hidden_field :game_id, value: @game.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :points, value: 0 %>
      <%= f.hidden_field :status, value: "accepted" %>
      <%= f.submit "Continue", class: "continue_btn" %>
    <% end %>
</div>
