<% content_for :body_class, 'game-background' %>
<%= link_to image_tag("arrow-back-white.png"), game_path(@game), class: "back-arrow-white" %>
<div class="park-animals-header">
  <h1><%= @park.name %> Animals</h1>
</div>
<% @park_animals.each do |park_animal| %>
  <div class="animal-card">
    <%= image_tag(park_animal.animal.image) %>
    <div class="game-info">
      <%= link_to park_animal.animal.name, game_park_park_animal_path(@game.id, @park.id, park_animal) %>
      <p>points: <%= park_animal.animal.points %></p>
    </div>
    <%= simple_form_for([@game, park_animal.animal, @spotted_animal]) do |f| %>
      <button type="submit">
        <%= image_tag("add.png") %>
      </button>
    <% end %>
  </div>
<% end %>
<%# @park_animals.each do |park_animal| %>
  <%#= link_to park_animal.animal.name, game_park_park_animal_path(@game.id, @park.id, park_animal) %>
  <%#= render partial: "partial/footer"%>
